* {
    margin:0;
    padding:0;
    border:0;
  }

body {
    font-family: Figtree, sans-serif;
}

.navbar {
    width: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menulist {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    height: 100px;
}

.logo {
    display: inline-flex;
}

#logoImage {
    width: 200px;
    height: 125px;
}

.menulist li {
    padding: 45px 45px 45px 20px;
    display: inline-flex;
    text-decoration: none;
}

.menulist a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}

.menulist a:hover, .menulist a:active {
    color: #ffffff;
    font-weight: 600;
    background-color: #000000;
    border-radius: 10px;
    padding: 0px 16px 0px 16px;
    transition: 0.6s;
    
}

.menulist .active {
    font-weight: 600;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle div {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: #ffffff;
    border-top: 2px solid #000;
}

.footer {
    border-radius: 20px;
    border: 2px solid #000;
    padding: 5px 0px 5px 0px;
    max-width: fit-content;
}

.footer p {
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
}

.footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    font-weight: 600;
}

.footer .socials a {
    text-decoration: none;
    color: #000000;
    padding: 0px 10px 0px 10px;
}

.footer .socials a:hover, .footer .socials a:active {
    color: #ffffff;
    font-weight: 600;
    background-color: #000000;
    border-radius: 10px;
    padding: 0px 16px 0px 16px;
    transition: 0.6s;
}

.contents {
    background-color: #1bb2946b;
}

.contents h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.gameContents h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 20px 0px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 20px;
}

.gameContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.gameContents p {
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 20px;
}

#simon {
    background-image: url(assets/images/simonBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

#letterbox {
    background-image: url(assets/images/letterboxedBG.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

.mainContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 0px 40px 0px;
    background-color: #ffffff;
    border-bottom: 2px solid #000;
}

.playButton {
    background-color: #1bb29486;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

.playButton:hover, .playButton:active {
    background-color: #ffffff;
    color: #000000;
    transition: 0.6s;
}

.suggestContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 40px 0px;
    background-color: #ffffff;
}

.suggestContents h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 20px 0px 20px 0px;
}

.suggestionParagraph {
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.suggestContents p {
    font-size: 20px;
    text-align: center;
}

.suggestButton {
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

.suggestButton:hover, .suggestButton:active {
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}

.container {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 40px 0px;
}

.container h1 {
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
}

.container h2 {
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    text-align: center;
}

.circlecontainer {
    position: relative;
    display: flexbox;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
}

.circle {
    border: 2px solid black;
    display: flexbox;
    flex-direction: column;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.circle1 {
    height: 500px;
    width: 500px;
    background-color: #009FE3;
}

.circle2 {
    height: 400px;
    width: 400px;
    background-color: #445261;
    top: 50px;
    left: 50px;
}

.circle3 {
    height: 300px;
    width: 300px;
    background-color: #EFB920;
    top: 100px;
    left: 100px;
}

.circle4 {
    height: 200px;
    width: 200px;
    background-color: #23BBBB;
    top: 150px;
    left: 150px;
}

.scorebox {
    border: 2px solid black;
    border-radius: 25%;
    box-sizing: border-box;
    position: absolute;
    background-color: #E6ECF0;
    justify-content: center;
    height: 80px;
    width: 80px;
    top: 210px;
    left: 210px;
    text-align: center;
    color: #445261;
    font-size: 3em;
}

.simonButton {
    display: flexbox;
    flex-direction: column;
    background-color: #1bb29486;
    color: #000000;
    border: 0;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    margin: 40px auto 40px auto;
    display: block;
    position: relative;
    font-weight: 600;
    border: 2px solid #000000;
}

.simonButton:hover {
    color: #ffffff;
    background-color: #000000;
    transition: 0.6s;
}

.scorecontainer {
    display: flexbox;
    flex-direction: row;
    text-align: center;
    margin: 20px auto 20px auto;
}

.score {
    font-size: 1em;
}

.highscore {
    display: inline-block;
    font-size: 1em;
}

.light {
    opacity: 0.2;
}

.contactContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px 40px 0px;
    border-bottom: 2px solid #000;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff80;
    box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.9);
    padding: 10px 20px 10px 20px;
    animation: contact-zoom 1s forwards;
}

.formContainer label, .formContainer button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.formContainer input, .formContainer textarea {
    border: 2px solid black;
    border-radius: 20px;
}

.formContainer textarea {
    padding: 5px 5px 5px 5px;
}

.formContainer button {
    border: 2px solid #000;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.formContainer button:hover {
    background-color: #000;
    color: #fff;
    transition: 0.6s;
}


@keyframes contact-zoom {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    .menulist {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #ffffffde;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.9);
        padding: 10px 0px 10px 0px;
        border-radius: 20px;
    }

    .menulist.show {
        display: flex !important;
        position: absolute;
        width: 50%;
        left: 25%;
        z-index: 2;
    }

    .menulist li {
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 10px 0px;
        border: 2px solid #000;
        border-radius: 20px;
        background-color: #ffffff;
    }

    .menulist li a:hover, .menulist li a:active {
        background-color: #ffffff00;
        color: #000000;
        transition: 0.6s;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    .menulist {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #ffffffde;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.9);
        padding: 10px 0px 10px 0px;
        border-radius: 20px;
    }

    .menulist.show {
        display: flex !important;
        position: absolute;
        width: 75%;
        left: 12.5%;
        z-index: 2;
    }

    .menulist li {
        padding: 10px 10px 10px 10px;
        margin: 10px 0px 10px 0px;
        border: 2px solid #000;
        border-radius: 20px;
        background-color: #ffffff;
    }

    .menulist li a:hover, .menulist li a:active {
        background-color: #ffffff00;
        color: #000000;
        transition: 0.6s;
    }

    .circlecontainer {
        height: 300px;
        max-width: 300px;
        max-height: 300px;
    }

    .circle {
        border: 2px solid black;
        height: 300px;
        width: 300px;
    }

    .circle2 {
        height: 240px;
        width: 240px;
        top: 30px;
        left: 30px;
    }

    .circle3 {
        height: 180px;
        width: 180px;
        top: 60px;
        left: 60px;
    }

    .circle4 {
        height: 120px;
        width: 120px;
        top: 90px;
        left: 90px;
    }

    .scorebox {
        border: 2px solid black;
        height: 60px;
        width: 60px;
        top: 120px;
        left: 120px;
        font-size: 1.5em;
        position: absolute;
    }

    .simonButton {
        height: 30px;
        width: 120px;
        font-size: 1em;
        margin: 5% auto;
    }
}