* {
    margin:0;
    padding:0;
    border:0;
  }

body {
    font-family: Figtree, sans-serif;
}

.navbar {
    width: 100%;
    border-bottom: 2px solid #000;
}

.menulist {
    list-style-type: none;
    display: inline-flex;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    height: 100px;
}

.logo {
    display: inline-flex;
}

#logoImage {
    width: 200px;
    height: 125px;
}

.menulist li {
    padding: 45px 45px 45px 20px;
    display: inline-flex;
    text-decoration: none;
}

.menulist a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}

.menulist a:hover, .menulist a:active {
    color: #000000;
    font-weight: 600;
    background-color: #1bb29459;
    border-radius: 10px;
    padding: 0px 16px 0px 16px;
    transition: 0.6s;
    
}

.menulist .active {
    font-weight: 600;
}

.footer p {
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
}

.contents {
    background-color: #1bb2946b;
}

.contents h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.gameContents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.gameContents p {
    font-size: 20px;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.playButton {
    background-color: #1bb29486;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}

.playButton:hover, .playButton:active {
    background-color: #000000;
    color: #ffffff;
    transition: 0.6s;
}